In [47]:
import pandas as pd
from IPython.display import display_html

In [48]:
all_files = !ls data_downloader/fundamental/*.csv

In [49]:
def split_filename(filename):
    return tuple(filename.split('/')[-1].replace('.csv', '').split('_', 1))

def filter_symbol():
    return [f for f in all_files if symbol + '_' in f]

In [50]:
symbol = 'AAPL'
files = filter_symbol()

for filename in files:
    symbol, category = split_filename(filename)
    display_html('<h2>{}: {}</h1>'.format(symbol, category), raw=True)
    df = pd.read_csv(filename)
    display_html(df)

,Unnamed: 0,Next reporting date,EPS forecast (this quarter),Annual revenue (last year),Annual profit (last year),Net profit margin,Symbol,Category
0,1,"October 25, 2017",$1.88,$214.2B,$45.7B,21.33%,AAPL,financials

,Unnamed: 0,Earnings growth (last year),Earnings growth (this year),Earnings growth (next 5 years),Revenue growth (last year),P/E ratio,Price/Sales,Price/Book,Symbol,Category
0,1,-9.87%,+8.41%,+13.50%,-7.37%,18.6,2.89,6.83,AAPL,growth_and_valuation

,Unnamed: 0,Sector,Industry,Chief Executive Officer & Director,Chief Operating Officer,Corporate headquarters,Symbol,Category
0,1,Electronic Technology,Telecommunications Equipment,Tim Cook,Jeffrey E. Williams,"Cupertino, California",AAPL,profile

,Unnamed: 0,Previous close,Today’s open,Day’s range,Volume,Average volume (3 months),Market cap,Dividend yield,Symbol,Category
0,1,164.0,164.8,163.63 - 164.94,16591051,27395832,$847.4B,1.54%,AAPL,todays_trading